PORT=3000
BACKEND_API_URL="http://iam.openg2p.my"
REGISTRY_API_URL="http://registry.openg2p.my"
MASTERDATA_API_URL="http://masterdata.openg2p.my"
LOGIN_PROVIDER_ID="2"
APPLICATION_MNEMONIC="iam-staff-ui"
COOKIE_DOMAIN=".openg2p.my"
PAGE_SIZE=10
